/* html {
  box-sizing: border-box;
} */

:root {
  font-size: 62.5%;
}

body {
  background-color: black;
  background-size: cover;
}

.option {
  
}

#start-game {
  display: none;
}

#replay {
  display: none;
}

#player {
  display: none;
}

#screen {
  text-align: center;
  font-family: 'Special Elite', cursive;
  color: darkred;
}


@media only screen and (min-width: 600px) {

  main {
    /* width: 100%; */
    display: grid;
    grid-template-rows: auto auto 100px;
    grid-template-columns: auto auto auto;
    grid-template-areas:
    "option1 message option2"
    "option1 video option2"
    ". player .";
  }

  body {
  background-image: url(../assets/images/road.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

#screen {
  display: none;
}

#video-cam {
  grid-area: video;
  border: 1px solid red;
  height: 50%;
}

#option1 {
  grid-area: option1;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#option2 {
  grid-area: option2;
  height: 400px;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#message {
  grid-area: message;
  color: whitesmoke;
  text-align: center;
  font-size: 2.0rem;
  font-family: 'Special Elite', cursive;
}

#start-button {
  display: flex;
  font-family: 'Special Elite', cursive;
  font-weight: bold;
  align-items: left;
  justify-content: left;
}

#player {
  grid-area: player;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

#player img {
  height: 100%;
  cursor: pointer;
}
}